.cityscape {
  position: relative;
  margin-top: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;

  > #LeftGrass {
    float: left;
    margin-top: 10vh;
    max-width: 40%;
  }

  > #City {
    z-index: -2;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }

  @media only screen and (max-width: 1200px) {
    > #City {
      bottom: 0;
    }
  }

  > #RightGrass {
    float: right;
    margin-top: 10vh;
    max-width: 40%;
  }
}
