/* LA Hacks logo display. */
.title-container {
  margin: auto auto 4em;
  width: auto;
  position: relative;

  > #title {
    width: 40vw;

    @media only screen and (max-width: 1400px) {
      width: 60vw;
    }

    @media only screen and (max-width: 900px) {
      width: 80vw;
    }
  }

  > #Moon {
    position: absolute;
    left: -38%;
    top: -87%;
    height: 250%;

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  > .stars {
    position: absolute;

    &.leftStars {
      left: -25%;
      bottom: -20%;
    }

    @media only screen and (max-width: 900px) {
      &.leftStars {
        width: 20%;
        right: -10%;
        left: unset;
        top: -40%;
      }

      &.rightStars {
        width: 20%;
        left: -10%;
        bottom: -110%;
      }
    }
  }
}




